@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Warna sunrise & sunset vibes */
  --background: linear-gradient(180deg, #FFD8A9 0%, #FFF5E1 50%, #FFECD1 100%);
  --foreground: #2C2C2C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
  min-height: 100vh;
  background-attachment: fixed; /* biar gradasinya tidak ikut scroll */
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
